Package: com.castyte.notifreplace
Name: Notification Replace
Depends: mobilesubstrate, firmware (>= 10.0)
Version: 0.0.1--beta
Architecture: iphoneos-arm
Description: Replace the text in your notifications!
Maintainer: Castyte <castyte@pm.me>
Author: Castyte <castyte@pm.me>
Section: Tweaks
Depiction: https://castyte.js.org/repo/debs/com.castyte.notifreplace/index.html